@import "../../../styles/variables.scss";

.Container {
  header {
    position: relative;
    overflow: hidden;

    @media screen and (max-width: 700px) {
      position: static;
    }
  }

  img {
    width: 100%;
    height: auto;
    max-height: 85vh;
  }

  .Content {
    position: absolute;
    top: 0;
    color: $color-dark;
    z-index: 3;
    width: 100%;
    height: 100%;

    @media screen and (max-width: 700px) {
      position: static;
      display: flex;
      justify-content: center;
    }

    h1 {
      line-height: 1.2;
      text-transform: capitalize;
    }

    .Inner {
      width: 50%;
      height: 100%;
      opacity: 0.95;
      min-width: 40rem;
      position: absolute;
      display: flex;
      align-items: left;
      justify-content: center;
      flex-direction: column;
      padding: 2rem;
      font-weight: bold;
      background: linear-gradient(
        90deg,
        $color-light,
        $color-light,
        lighten($color-light, 50%),
        transparent
      );

      @media screen and (max-width: 700px) {
        position: static;
        width: 100%;
        text-align: center;
        align-items: center;

        h1,
        h2 {
          font-size: 100%;
          line-height: 2;
        }
      }

      p {
        width: 80%;
        line-height: 1.6;
        font-weight: 300;
        padding: 1rem;

        @media screen and (max-width: 700px) {
          width: 100%;
        }

        span {
          text-decoration: underline;
        }
      }
    }
  }

  article {
    line-height: 1.5;
    span {
      text-transform: capitalize;
    }

    a {
      color: $color-gray-2;
      background-color: $color-yellow;
      display: inline-block;
      padding: 0.1rem 1rem;
      border-radius: 1rem;
      font-weight: 600;
      border: none;
      text-align: center;
    }
  }

  .CourseCard {
    display: flex;
    gap: 1rem;
    margin-left: 4rem;
    margin-top: 1rem;

    @media screen and (max-width: 700px) {
      margin-left: 0;
    }
  }

  .RegisterNow {
    text-align: center;
    margin-bottom: 2rem;

    a {
      background-color: $color-yellow;
      color: $color-gray-2;
      padding: 1rem 3rem;
      border-radius: 2rem;
    }
  }

  .MainContent {
    max-width: 80rem;
    margin: 1rem auto;

    @media screen and (max-width: 800px) {
      margin: 1rem;
    }

    h1 {
      font-size: 3.5rem;
      text-transform: capitalize;
    }

    h1,
    h2,
    h3 {
      color: $color-dark;
    }

    ol {
      margin-left: 2rem;
      li {
        list-style: decimal;
      }
    }

    ul {
      margin-left: 2rem;
      li {
        list-style: square;
      }
    }
  }

  .Admin {
    display: flex;
    padding: 2rem;
    gap: 1rem;
  }
}
