@import "../../../styles/variables.scss";

.Container {
  box-shadow: 0 0 5px rgba(black, 0.5);
  border-radius: 2rem;
  width: 25rem;
  position: relative;
  padding: 1rem;

  .abs,
  .left {
    position: absolute;
    top: -1rem;
    right: -1rem;
    background-color: teal;
    color: white;
    width: 5rem;
    height: 3rem;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
  }

  .left {
    background-color: #ddd;
    color: black;
    left: -1rem;
    border: 2px solid #bbb;
  }

  .Name {
    color: $color-blue;
    font-weight: 500;
    text-transform: capitalize;
    font-size: 2rem;
    cursor: pointer;
  }

  svg {
    font-size: 2.5rem;
    margin-right: 1rem;
  }

  .Delete {
    color: $color-danger;
  }

  .Role {
    color: $color-gray-2;
  }

  span {
    color: $color-blue;
    padding: 0.5rem 1rem;
    text-transform: capitalize;
  }
}
