@import "../../styles/variables.scss";

.Container {
  position: relative;
  background: $color-yellow;
  padding: 1rem 4rem;
  color: $color-gray-2;
  text-align: center;
  min-height: 10rem;

  @media screen and (max-width: 600px) {
    padding: 1rem;
    line-height: 1.4;
    font-size: 2;
  }

  .Announcement {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: -2rem;
    text-transform: capitalize;
  }

  svg {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    font-size: 2.5rem;
    cursor: pointer;
    color: $color-danger;
    background-color: $color-light;
    border-radius: 50%;
  }
}
