$color-light: #fefffe;
$color-dark: #010100;
$color-gray-2: #1d3041;
$color-gray: #676766;
$color-yellow: #fccb0a;
$color-blue: rgb(10, 149, 252);
$color-danger: #9b1313d1;
$irep-gray: #666666;

// Not in use
$color-white: #fff;
$color-pry: #5630a8;
$color-pink: #ffa2f7;
$transition: all 400ms ease;
$NavHeight: 9rem;
$shadow-dark: 0 0 5px rgba(black, 0.7);

$color-gradient: linear-gradient(
  135deg,
  #7a44ff,
  #8146ff,
  #8849ff,
  #8f4bff,
  #954eff,
  #9c50ff,
  #a153ff,
  #a756ff
);
